SUPABASE_PROJECT_ID="ppcmuiymyvweeekwsodn"
SUPABASE_PUBLISHABLE_KEY="sb_publishable_k_QCC0Af8s1-J6JnaJA9rQ_sNJ0HPIK"
SUPABASE_URL="https://ppcmuiymyvweeekwsodn.supabase.co"
VITE_SUPABASE_PROJECT_ID="ppcmuiymyvweeekwsodn"
VITE_SUPABASE_PUBLISHABLE_KEY="sb_publishable_k_QCC0Af8s1-J6JnaJA9rQ_sNJ0HPIK"
VITE_SUPABASE_URL="https://ppcmuiymyvweeekwsodn.supabase.co"
GROQ_API_KEY="your_groq_api_key_here"
